.Dashboard{
    display:flex;
    flex-direction:column;
    //align-items:center;
    margin-right:1%;
    margin-left:1%;
    font-size:0.8rem;
    .userQuizzes{
        display:flex;
        justify-content:space-between;
        .userQuiz1{
            border:solid 2px $white-color;
            border-radius:30px;
            box-shadow: 1px 0 10px 15px rgba(0, 0, 0, .3);
            width:45%;
            margin-top:0.5%;
            
            .qc{
                 background-color:$yellow-color;
                 border-radius:30px;
                 text-align:center;
            }
        }
        .userQuiz2{
            border:solid 2px $white-color;
            border-radius:30px;
            box-shadow: 1px 0 10px 15px rgba(0, 0, 0, .3);
            width:45%;
            margin-top:0.5%;
             .qt{
                 background-color:$yellow-color;
                 border-radius:30px;
                 text-align:center;
            }
        }
    } 
     .Players{
        display:flex;
        justify-content:space-between;
            .Players1{
                border:solid 2px $white-color;
                border-radius:30px;
                box-shadow: 1px 0 10px 15px rgba(0, 0, 0, .3);
                width:45%;
                margin-top:0.5%;
                .pt{
                 background-color:$yellow-color;
                 border-radius:30px;
                 text-align:center;
            }
            }
              .QuizList{
                border:solid 2px $white-color;
                border-radius:30px;
                box-shadow: 1px 0 10px 15px rgba(0, 0, 0, .3);
                width:45%;
                margin-top:0.5%;
                .pt{
                 background-color:$yellow-color;
                 border-radius:30px;
                 text-align:center;
            }
            }


            }
        
    
}