.Home .img{
    width: 100%;
    height: 160px;
    position : relative;
}
.Home .container {
  position: relative;
  text-align: center;
  color: white;
}
.txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 .Home .icons{
     display:flex;
    justify-content: space-around;
     @include mobile {
        flex-direction:column;
        align-items:center;
    }
 }

 .Home .article{
     width:30%;
     margin:5%;
     display: flex;
    flex-direction: column;
    align-items: center;
 }

 .Home .article img{
     height:160px;
     width: 40%;
     @include tablet {
         width: 60%;
    }
     @include mobile {
         width: 100%;
    }

     
 }


 .Home .article p{
     font-size:1rem;
     margin-left:5%;
     
 }

 .tableContainer{
     width:100%;
     display:flex;
     justify-content:center;
     background-color:$blue-color;
     
 }





   