.Home img{
    width: 100%;
    height: 160px;
    position : relative;
}

.image{
    position: relative;
    background: url("../jason-leung-D4YrzSwyIEc-unsplash.jpg") no-repeat;
    width: 100%;
    height: 160px;
}
.txt{
    position: relative;
left: 30px;
top: 30px;
}

   