
.center-item {
  display: flex;
  //background-color: "#fff";
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:2%;
  font-size:0.8rem;
  .errorMessage{
    color:$red-color;

  }
  
  h3{
      text-align:center;
      color:$orange-color;
  }
  form {
    width: 40%;
    box-shadow: 1px 0 10px 15px rgba(0, 0, 0, .3);
    padding: 1%;
    background-color: #fff;
     font-size:0.8rem;

    .input {
      width: 100%;
      box-sizing: border-box;
      margin-top: 20px;
      outline: none;
      border: none;
      background-color: #BDD5BA;
      padding: 1%;
      line-height: 2;
      font-size:0.8rem;
    }

    .button {
      background-color: $orange-color;
      color: $white-color;
      font-size: 18px;
      width: 100%;
      outline: none;
      border: none;
      padding:2%;
      margin-top: 20px;
      cursor: pointer;

      &:hover {
        background-color: $bold-color;
      }

    }

    p {
      text-align: center;
      margin-bottom: 0px;
      text-decoration: none;
      color: $bold-color;
      padding-left: 3px;



        &:hover {
          text-decoration: none;
        }
      

    }
   

  }
}

@media(max-width:692px) {
  .center-item {
    form {
      width: 60%;
    }
  }
}

@media(max-width:452px) {
  .center-item {
    form {
      width: 70%;
      padding: 25px;

      p {
        font-size: 14px;
      }
    }
  }
}
