

@import './variables';
@import "./typography";
@import './mixins';
body{
   
    margin:0;
    width:100%;
    //min-height:100%;
    margin-bottom:50px;
//    #popupContainer {
//        display:none;
//    }
}
.icon{
    width: 30px;
    height: 30px;
}




 @import "./buttons";
 @import "./inputs";

  @import "./header-16";
  @import "./home";
  @import "./newquiz";
  @import "./login";
  @import "./quizList";
  @import "./createQuiz";
  @import "./question";
  @import "./choices";
  @import "./confirm";
  @import "./quiz";
  @import "./dashboard";
  @import "./table";
  @import "./alert";
  @import "./footer";
