.NewQuiz{
        background: white;
        border: solid 1px $blue-color;
    
     .Title{
        text-align: center;
    
}
.table{
        width: 100%;
    border: solid 1px $blue-color;
}
thead{
        color: red;
        text-align:left;
}
}