.NewQuiz{
        background: white;
        border: solid 1px $orange-color;
        border-radius:10px;
        font-size:0.8rem;
     .Title{
        text-align: center;
    
}
.table{
        width: 100%;
       //  border: solid 2px $blue-color;
      //  border-radius:30px;
}
thead{
        color: red;
        text-align:left;
}
}