
$small:900px;


.logo {
  width:40%;
  margin-left:2%;
}

.site-header {
  position: relative;
  
 
}

.site-header__wrapper {
  


  background-color:#C5f4E0;
   
    display: flex;
    justify-content: space-between;
    //align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    background-color:"#C5f4E0";
    @include mobile{
      flex-direction:column;
      align-items: inherit;
      text-align: center;


    }
  
}


.nav__wrapper {
  
  list-style-type: none;
  display: flex;
   @include mobile{
     flex-direction:column;
     padding-inline-start: 0;
     
   }

  
}

.nav__item {
 
  &:first-child {
    background:$orange-color;
    border-radius:30px 0px 0px 30px;
    @media (min-width: $small) {
      a {
       
      }
    }
  }

   &:nth-child(2) {
     background:$red-color;
   }
   &:nth-child(3) {
     background:$purple-color;
   }
     &:nth-child(4) {
     background:$blue-color;
     border-radius:0px 30px 30px 0px;
   }

  .NavLink {
    display: block;
    padding: 1rem 1rem;
    text-decoration:none;
    color: $white-color;
    font-family:$sans-serif-family;
    @include mobile{
       padding: 0.75rem 1rem;
    }

   
  }
}


