.Select {
    height: 2.3em;
    font-size: 1.4rem;
    width: 34%;
    outline: none;
    font-family: 'Righteous', cursive;
    padding: 0px 10px;
    text-transform: capitalize;
    margin-left: -10px;
}

.Select > div {
    height: 2.7em;
    border-radius: 0px;
}

.PaginationSelect {
    display: inline-block;
    
}

.PaginationSelect > div {
    height: 1.7em;
}

@media (max-width: 800px) {
    .Select > div {
        height: 3.3em;
    }
}