.UserQuizzes {
    margin: 0 auto;
    width: auto;
    margin-bottom: 5em;
    margin-left: 3em;
}

.UserQuizzes p.Title{
    background-color: #fff;
    margin-bottom: 2px;
    width: fit-content;
    padding: 14px 2em 14px 2em;
    font-size: 1.3rem;
}

.TableCont {
    overflow-x: auto;
}

.qt {
    margin-bottom: 10em;
}