.NavigationItem {
    list-style: none;
    display: inline-block;
    position: relative;
    top: -13px;
    margin-right: 1em;
}

.NavigationItem a {
  
    position: relative;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 11px 12px;
}





@media (max-width: 800px) {
    .NavigationItem.onlyDesktop {
        display: none;
    }
}