.Question input {
    padding: 10px 11px;
    width: 85%;
    height: 1.5em;
}

.hidden {
    display: none;
}

.questionViewer {
    font-size: 2.5rem;
}

@media (max-width: 900px) {
    .questionTitle {
        font-size: 1.5rem;
    }
}